{% extends 'base.html' %} {% block content %}



<div class="container-fluid">
    <div class="hero">
        <img class="img-fluid" src="/static//images/image.jpg" alt="">
    </div>
    <div class="page-header mt-3">

        <figure class="text-end">
            <blockquote class="blockquote">
                <p class="mb-0"> "A passport to freedom doesn't
                    require a hefty wallet; it demands the courage to explore the world on a budget, discovering the
                    richness of life in the simplicity of travel."
                </p>

            </blockquote>
            <figcaption class="blockquote-footer">
                yours truly, <cite title="Source Title">Frugal Guru</cite>
            </figcaption>
        </figure>
    </div>

    <div class="container-fluid">
        <a href="{% url 'posts_index' %}" type="button" class="btn btn-success" data-bs-toggle="tooltip"
            data-bs-placement="left" title="">Travel</a>
        <a href="{% url 'thrifts_index' %}" type="button" class="btn btn-info" data-bs-toggle="tooltip"
            data-bs-placement="top" title="">Thriftees & more</a>
        <a href="{% url 'deals_index' %}" type="button" class="btn btn-warning" data-bs-toggle="tooltip"
            data-bs-placement="bottom" title="">Deals</a>
        <a href="{% url 'home' %}" type="button" class="btn btn-danger" data-bs-toggle="tooltip"
            data-bs-placement="right" title="">Donate</a>
    </div>

</div>



{% endblock %}