{% extends 'base.html' %} {% block content %}



<div class="container-fluid">
    <div class="hero">
        <img class="img-fluid" src="/static//images/image.jpg" alt="">
    </div>
    <div class="page-header mt-3">
        <p>Welcome, <span class="">fellow wanderers and thrifty adventurers</span>f! If you believe that the best things
            in life are not only free but also come with a side of exhilarating experiences, you've just stumbled upon
            your kind of travel sanctuary.
            Join me on a journey where we unravel the art of cheap travel, discover the beauty in free experiences, and
            celebrate the freedom of expression that comes with exploring the world on a budget. Let's embark on a
            budget-friendly odyssey that proves that adventure knows no price tag, and the most memorable moments are
            often
            the ones that don't cost a dime. Welcome to a world where frugality meets freedom—a realm where every penny
            saved is a new avenue for exploration, and self-expression knows no bounds. Get ready to redefine your
            travel
            philosophy and unlock the secrets to a wallet-friendly, liberating, and endlessly enriching expedition!</p>
        <h5 class="text-right">your Fiscal Guru</h5>
    </div>

</div>



{% endblock %}